.container {
    width: 80%;
    margin: 20px auto;
    background:#f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Profile section */
.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #333;
}

.profile-info {
    text-align: center;
}

.profile-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 1.2em;
    color: #555;
}